##############################################
# Documentum xCP Designer gitignore
#
# Documentum xCP designer is based on Eclipse. For this reason I built this
# file based on the eclipse gitignore at github, adding reccomendations 
# from document "EMC Documentum xCelerated Composition Platform Designer
# Help Version 2.1 User Guide", section Working with a source control system
#
# Silvio Hirashiki 2014
##############################################
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

# Documentum xCP specific
configuration/
gen/
META-INF/
target/
.index
.generatedresources
runapp.log

# Windows stuff
Thumbs.db

# Mac stuff
.DS_Store
